.Tile {
  width: 20%;
  padding-top: 20%;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

.Tile-lit {
  background-color: rgb(66, 155, 125);
}

.Tile-nlit {
  background-color: rgb(37, 34, 34);
}
